<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="data_dir" value="C:\Users\jkim20\Documents\Eclipse Scripting API\Projects\esapi_nnunet_client\_data" />
    <add key="nnunet_server_url" value="http://127.0.0.1:8000" />
  </appSettings>
</configuration>
