<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="7.0.1" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.7.25104.5739" targetFramework="net48" />
  <package id="Fleck" version="1.2.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.BootstrapIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.BoxIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.CircumIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Codicons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Coolicons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Core" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Entypo" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.EvaIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FeatherIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FileIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Fontaudio" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FontAwesome5" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FontAwesome6" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Fontisto" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.ForkAwesome" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.GameIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Ionicons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.JamIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.KeyruneIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Lucide" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialDesign" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialLight" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MemoryIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Microns" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MingCuteIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Modern" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MynaUIIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Octicons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PhosphorIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PicolIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PixelartIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RadixIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RemixIcon" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RPGAwesome" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.SimpleIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Typicons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Unicons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.VaadinIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.WeatherIcons" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Zondicons" version="6.1.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="5.2.1" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.2.1" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="SimpleITK-win64-CSharp-x64" version="1.0.0.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
</packages>